/*Grabbed styles from https://github.com/mdn/learning-area/blob/main/html/tables/advanced/minimal-table.css*/

html {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    height: 100vh;
}

body{
    background-image: url('assets/library.jpg');
}

table{

    border-collapse: collapse;
    border: 2px solid rgb(200, 200, 200);
    letter-spacing: 1px;
    font-size: 0.8rem;
}

td, th {

    border: 1px solid rgb(190, 190, 190);
    padding: 10px 20px;
}

th {

    background-color: rgb(235, 235, 235);
}

td {

    text-align: center;
}

tr:nth-child(even) td {

    background-color: rgb(250, 250, 250);
}

tr:nth-child(odd) td {

    background-color: rgb(245, 245, 245);
}

caption {

    padding: 10px;
}

form.active {

    display: none;
}

button{
    padding: 40px;
}